.main {
  margin: 0;
  padding: 0;
}

.section {
  height: calc(100vh - 80px); /* Use the actual height of your navbar here */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;

}

.section1 {
  background-color: #ffcccc;
}

.section2 {
  background-color: #ccffcc;
}

.section3 {
  background-color: #ccccff;
}

.section4 {
  background-color: #ffffcc;
}

/* Mobile */
@media (max-width: 700px) {
  .section {
    font-size: 18px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .section {
    font-size: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  .section {
    color: white;
  }
}
