.scrollToTop {
    position: relative;
    z-index: 1000;
    bottom: 50px;
}

.arrowButton {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    transition: background-color 0.3s ease;
    margin-bottom: -50px;
}

.arrowButton:hover {
}
