.section {
  background-color: #e72b058b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cardsTitle {
  position: absolute;
  top: 7vh; /* Adjust as needed */
  width: 100%;
  text-align: center;
  z-index: 1;
  font-size: 26px;
  font-weight: bolder;
}

.cardsText {
  position: absolute;
  top: 18vh; /* Adjust as needed */
  width: 70%;
  text-align: center;
  z-index: 1;
}

.gridContainer {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  padding-top: 25vh;
  padding-bottom: 5vh;
}

.card {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  width: 22vw;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.cardImage {
  margin-top: 2vw;
  width: 60px;
  height: 60px;

}

.cardTitle {
  font-size: 16px;
  font-weight: bold;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-bottom: -5px;
}

.cardText {
  font-size: 14px;
  color: #666;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-bottom: 3vw;
}

.scrollButton {
  display: none;
}


@media (max-width: 768px) {
  .section {
  }

  .gridContainer {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 35vh;

  }

  .card {
    scroll-snap-align: center;
    min-width: 60vw;
    padding: 20px 10px 10px 10px;
  }

  .scrollButton {
    display: flex;
    position: absolute;
    top: 67%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    padding: 7px 10px;
    cursor: pointer;
    z-index: 1;
    font-weight: bolder;
  }

  .scrollButton.left {
    left: 10px;
  }

  .scrollButton.right {
    right: 10px;
  }
}

/* Custom scrollbar styling */
.gridContainer::-webkit-scrollbar {
  height: 10px;
}

.gridContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

.gridContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 390px) {
  .cardsTitle {
    position: absolute;
    top: 7vh; /* Adjust as needed */
  }
  
  .cardsText {
    top: 27vh; /* Adjust as needed */
    width: 70%;
  }

  .gridContainer {
    padding-top: 55vh;
  }


}
