/* Section1.module.css */

.section {
  position: relative;
  background-color: #e72b058b;
  height: 80vh;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  flex-direction: row;
  min-height: 100%;
}

.textBox {
  width: 40%;
  padding: 10px;
  box-sizing: border-box;
  padding-right: 50px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  padding: 12px 10px;
}

.leftArrow {
  left: 0px;
}

.rightArrow {
  right: 0px;
}

.navButtons {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navButton {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.navButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 0;
}

.navButton.active::before {
  transform: scaleX(1);
  transition: transform 10s linear;
}

.navButton.active {
  color: black;
}

.videoBox {
width: 30vw;
height: 17vw;
}
.card1 h2 {
}
.card2 .textBox {
}
.card3 .textBox {
}

@media (max-width: 700px) {
  .section {
    font-size: 18px;
    height: 85vh;
  }
  
  .card {
    flex-direction: column;
  }

  .textBox, .videoBox {
    width: 75%;
    padding-right: 0px;

  }

  .videoBox {
    height: auto;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .section {
    font-size: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  .section {
    color: white;
  }
}
